---
import { getCollection } from 'astro:content';
import { marked } from 'marked';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const aboutContent = (await getCollection('about'))[0];
const siteConfig = (await getCollection('site'))[0];

const pageTitle = `About | ${siteConfig.data.name}`;
const pageDescription = aboutContent.data.hero.tagline;
const pageImage = aboutContent.data.hero.image.src;
---

<BaseLayout
	title={pageTitle}
	description={pageDescription}
	image={pageImage}
	type="website"
	keywords={`${siteConfig.data.name}, about, portfolio, background`}
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title={aboutContent.data.hero.title} tagline={aboutContent.data.hero.tagline}>
				<img
					width={aboutContent.data.hero.image.width}
					height={aboutContent.data.hero.image.height}
					src={aboutContent.data.hero.image.src}
					alt={aboutContent.data.hero.image.alt}
				/>
			</Hero>

			{aboutContent.data.sections.map((section) => (
				<section>
					<h2 class="section-title">{section.title}</h2>
					<div class="content" set:html={marked.parse(section.content)} />
				</section>
			))}
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
